:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     255,255,255;
--color-neutral-100:    255,255,255;
--color-neutral-200:    232,232,232;
--color-neutral-300:    194,194,194;
--color-neutral-400:    155,155,155;
--color-neutral-500:    117,117,117;
--color-neutral-600:    97,97,97;
--color-neutral-700:    76,76,76;
--color-neutral-800:    56,56,56;
--color-neutral-900:    35,35,35;
--color-primary-50:     255,255,255;
--color-primary-100:    255,255,255;
--color-primary-200:    230,249,255;
--color-primary-300:    153,229,255;
--color-primary-400:    77,210,255;
--color-primary-500:    0,191,255;
--color-primary-600:    0,160,214;
--color-primary-700:    0,130,173;
--color-primary-800:    0,99,133;
--color-primary-900:    0,69,92;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,255,255;
--color-secondary-200:    255,255,255;
--color-secondary-300:    255,255,255;
--color-secondary-400:    247,255,249;
--color-secondary-500:    170,255,191;
--color-secondary-600:    129,255,160;
--color-secondary-700:    88,255,130;
--color-secondary-800:    48,255,99;
--color-secondary-900:    7,255,68;
}